<!DOCTYPE html>
<html>
<head>
    <title>todoli: {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
     <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen" />
     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
     <!--[if lt IE 9]>
        <script src="https://raw.github.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
<div id="logo">
    <img src="{% static "logo.png" %}" alt="Todoli: Collaborative to-do lists" />
</div>
{% block content %}{% endblock %}
<br class="clear" />
<footer>
    <ul id="footer-navigation">
        <li>
            Version: <a href="https://github.com/orschiro/todoli/commit/4f01324fc58286267a0303045c9372c480f500c9" target="blank">4f01324</a>
        </li>
        <li><a href="https://github.com/orschiro/todoli/blob/master/README.md" target="blank">About</a></li>
</footer>
</div>
</body>
</html>
<body>