<!DOCTYPE html>
<html>
<head>
    <title>todoli: {{todolist.name }}</title>
    {% load staticfiles %}
     <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen" />
     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
     <!--[if lt IE 9]>
        <script src="https://raw.github.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
<h1>todoli: collaborative to-do list sharing</h1>
<h3>Your list: {{ todolist.name }}</h3>
Share: <input class="input-url" type="text" onClick="this.select();" value="{{ request.build_absolute_uri }}" readonly />
<div> 
<h2>Add a new to do item:</h2>
<form action="{% url 'todolists:todo_add' todolist.slug %}" method="post">
{% csrf_token %}
    <textarea class="input-text" rows="3" cols="70" name="content" autofocus="autofocus" required="required"></textarea>
    <input type="submit" class="button" value="Add" />
</form>
</div>
<br class="clear" />
<div>
<h2>Still to do:</h2>
    {% for entry in todolist.entry_set.all %}
        {# Filter for incomplete entries #}
        {% if not entry.status %}
            <div class="clear entry">
                {{ entry.content|linebreaks }}
                <form action="{% url 'todolists:todo_done' todolist.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="todo_pk" value="{{ entry.pk }}" />
                    <input type="submit" class="button float-right" onclick="return confirm('This entry will be marked as completed.')" value="Done">
                </form>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br class="clear" />
<div>
<h2>Already done:</h2>
    {% for entry in todolist.entry_set.all %}
        {# Filter for completed entries #}
        {% if entry.status %}
         <div class="clear">
                {{ entry.content|linebreaks }} 
                <form style="text-align: right;" action="{% url 'todolists:todo_undo' todolist.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="todo_pk" value="{{ entry.pk }}" />
                    <input type="submit" class="button float-right" onclick="return confirm('This entry will be marked as not completed.')" value="Undo">
                </form>
        </div>
         {% endif %}
    {% endfor %}
</div>
<br class="clear" />
<footer>
    <ul id="footer-navigation">
        <li>
            Version: <a href="https://github.com/orschiro/todoli/commit/f1a969d3448cbd72418ad9ff7a9bc7521c729e0c" target="blank">f1a969d344</a>
        </li>
        <li>About</li>
</footer>
</div>
</body>
</html>
<body>