<!DOCTYPE html>
<html>
<head>
    <title>todoli: {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
     <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen" />
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
     <!--[if lt IE 9]>
        <script src="https://raw.github.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div id="logo">
        <a href="/" alt="Create a new list"><img src="{% static "logo.png" %}" alt="Todoli: Collaborative to-do lists" /></a>
    </div>
    {% block content %}{% endblock %}
    <br class="clear" />
    <footer>
        <ul id="footer-navigation">
            <li>
                Version: <a href="https://github.com/orschiro/todoli/commit/850182d7660bbf6a8cd18b8561b67d1c79e1e02c">850182d766</a>
            </li>
            <li><a href="https://github.com/orschiro/todoli/blob/master/README.md" target="blank">About</a></li>
        </ul>
    </footer>
</div>
    <script>
        // IE fix for text field required input. Before submitting, check if input field is empty.
        $("form").submit(function() {
           if($(".input-url").val() === "" || $(".input-text").val() === "") {
                    $("#error").text("You cannot leave this field empty").show().fadeOut(5000);
                    return false;
            }
        });
    </script>
</body>
</html>